<div style="width: 400px;">
    <div *ngIf="model" class="edit-form">
        <h4>Inventory</h4>
        <form [formGroup]="currentTutorial">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" />
                <div class="text-danger" *ngIf="!name.valid && (name.touched || name.dirty)">
                    <div *ngIf="name.errors['required']">
                        Name is required..!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" formControlName="price" />
                <div class="text-danger" *ngIf="!price.valid && (price.touched || price.dirty)">
                    <div *ngIf="price.errors['required']">
                        Price is required..!
                    </div>
                    <div *ngIf="price.errors['minlength']">
                        Min length is 2 digits..!
                    </div>
                    <div *ngIf="price.errors['maxlength']">
                        Max 5 digits..!
                    </div>
                    <div *ngIf="price.errors['pattern']">
                        Only integers are allowed..!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" formControlName="description" />
                <div class="text-danger" *ngIf="!description.valid && (description.touched || description.dirty)">
                    <div *ngIf="description.errors['required']">
                        Description is required..!
                    </div>
                </div>
            </div>

            <button class="btn btn-danger mr-2" (click)="deleteInventory()">
                Delete
            </button>
    
            <button type="submit" [disabled]="currentTutorial.invalid" class="btn btn-success ml-2" (click)="updateInventory()">
                Update
            </button>
            <p>{{ message }}</p>

        </form>

        <!-- <button class="badge badge-primary mr-2" *ngIf="currentTutorial.published" (click)="updatePublished(false)">
            UnPublish
        </button> -->
        <!-- <button *ngIf="!currentTutorial.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
            Publish
        </button> -->

    </div>

    <div *ngIf="!model">
        <br />
        <p>Cannot access this Inventory...</p>
    </div>
</div>