<div style="width: 400px;">
    <div *ngIf="currentTutorial" class="edit-form">
        <h4>Inventory</h4>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="currentTutorial.name" name="name" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" [(ngModel)]="currentTutorial.price" name="price" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentTutorial.description"
                    name="description" />
            </div>

            <!-- <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ currentTutorial.published ? "Published" : "Pending" }}
            </div> -->
        </form>

        <!-- <button class="badge badge-primary mr-2" *ngIf="currentTutorial.published" (click)="updatePublished(false)">
            UnPublish
        </button> -->
        <!-- <button *ngIf="!currentTutorial.published" class="badge badge-primary mr-2" (click)="updatePublished(true)">
            Publish
        </button> -->

        <button class="btn-sm btn-danger mr-2" (click)="deleteInventory()">
            Delete
        </button>

        <button type="submit" class="btn-sm btn-success ml-2" (click)="updateInventory()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentTutorial">
        <br />
        <p>Cannot access this Inventory...</p>
    </div>
</div>